.adminNavBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid orange;
  background-color: white;
  z-index: 1000;
}

.navbar-wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #f7941d;
  float: left;
}

.navbar-logo {
  display: inline;
  box-sizing: border-box;
  margin: 0em 1em;
  /* height: 100%; */
}

.navbar-logo img {
  text-align: center;
  vertical-align: top;
  width: 43px;
}

.navbar-logo h1 {
  display: inline-block;
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 1.3px;
  cursor: pointer;
}

.navbar-logo span {
  font-family: "Righteous";
  font-weight: 700;
  color: #f7941d;
  margin-left: 0.2em;
}
